################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/x64/Debug
/sfzg.VC.VC.opendb
/sfzg.VC.db
